body {
  font-family: 'Poppins', sans-serif;
  background: #393E3B;
  color: #333;
}

.app-container {
  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 10rem;
}

.calendar {
  border-radius: 12px;
  padding: 0.75rem;
  transform: scale(2);
  transform-origin: center;
  color: white;
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;  

}

.calendar-header button:hover {
  color: #e0f2f1;
  transition: 0.5s;
  scale: 1.2;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
  margin-top: 1rem;
}


.day, .day-name {
  border-radius: 4px;
  padding: 0.4rem;
  font-size: 0.9rem;
}

.has-event {
  background: #B7B89F; 
  color: white;
  font-weight: bold;
}

.has-event:hover {
  background: #9FA07F;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.15s ease;
}

.day:hover {
  scale: 1.1;
  transition: 0.5s;
  color: #333;
  background: #e0f2f1;
  cursor: pointer;
}

.event-list {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  width: 300px;
  height: fit-content;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.event-dialog {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 300px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}



/* EventList specific styles */

.event-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.event-list-header{
  text-align: center;
  color: #B7B89F ;
  font-size: 40px;
}

.event-list{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, minmax(5rem, auto));
  gap: 8px;
  height: 20rem;
  min-width: 10rem;
  width: fit-content;
  padding: 3rem;
}

.events button{
  border: none;
  background-color: #23654c ;
  font-size: 1rem;
  cursor: pointer;
  color: white;  
  margin-right: 0.5rem;
  width: 2rem;
  border-radius: 8px;
}

.event-day{
  margin-right: 2rem;
}

.events li{
  list-style: none;

}